body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #0b62f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 20px 10px 10px 30px;
	padding: 0px;
	font-weight: 400;
	color: white;
	text-shadow: 3px 3px 5px black;
}

input {
	padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.leftPanel {
	flex: 1.7 0 0;
	justify-content: center;
}

#rightPanel {
	flex: 1 0 0;
	justify-content: center;
}

#leftInnerContainer {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 0px 0px 0px 10px;
	padding: 10px;
}

#rightInnerContainer {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 20px 10px 0px 0px;
	padding: 10px;
}

.dashboardContainer {
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	margin-bottom: 10px;
	padding: 10px 10px 5px 10px;
	position: relative;
}

#rightDateContainer {
	float: right;
}

#leftDateContainer {
	float: left;
}

.controlsContainer {
	height: 120px;
	margin: 0px 40px 10px 10px;
	padding: 10px;
	left: 15px;
	position: relative;
}

.controls {
	align: center;
	margin: 0 auto;
	margin-top: 25px; 
	width: 400px;
	text-align: center;
}

.controlButton {
	margin: 5px 10px 10px 5px;
}

#playButton:hover, #replayButton:hover, #ffButton:hover, #slomoButton:hover {
	cursor: pointer;
}

#startDate, #endDate {
	width: 200px;
}

#goButton {
	padding: 10px;
	margin: 0px;
}

#goButton:hover {
	background-color: #c8e2ff;
}

/* slider css */
.slidecontainer {
	width: calc(100% - 20px);
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin-right: 10px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 40px;
	background: red;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.sliderText {
	width: 100%;
	position: relative;
	display: block;
	margin: 5px;
}

.sliderTextLeft {
	left: 0;
	top: 0;
	position: absolute;
	width: 100px;
}

.sliderTextCenter {
	left: 45%;
	top: 0;
	position: absolute;
	width: 100px;
}

.sliderTextRight {
	top: 0;
	right: 0;
	position: absolute;
	width: 100px;
	text-align: right;
}

